@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


.imageHeader {

}

.imageLogo {
    height: 35vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.loading {
    height: 5vh;
    width: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.notify-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3.5vh;
    padding-right: 3.5vh;
    text-align: center;
}
.notify-button {
    font-family: 'Special Elite', cursive;
    margin-top: 1vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8vh;
    padding-right: 8vh;
    color: black;
    border-width: 0.3vh;
    border-color: black;
    background-color: white;
    padding-top: 0.6vh;
    padding-bottom: 0.3vh;
    transition: all 0.9s ease 0s;
}

.notify-button:hover {
    font-family: 'Special Elite', cursive;
    margin-top: 1vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8vh;
    padding-right: 8vh;
    color: white;
    border-width: 0.3vh;
    border-color: black;
    background-color: black;
    padding-top: 0.6vh;
    padding-bottom: 0.3vh;
    transition: all 0.9s ease 0s;
}